{% extends 'base.html.twig' %}


{% block body %}
    <h1>  Welcome {{ user.fname }}</h1>
    <table class="table">
        <thead>
        <th>title</th>
        <th>beschrijving</th>
        <th>datum</th>
        <th>wie</th>
        </thead>

        {% for member in storys %}

            <tbody>
            <td>{{ member.title }}</td>
            <td>{{ member.description }}</td>
            <td> {{ member.date|date("m/d/Y") }}</td>
            <td>{{ member.user.fname }}</td>
{#                      <td><a href="{{ path ('app_delete',{id: Autos.id})}}" class="btn btn-dark">delet</a> </td>#}
{#                    <td>#}
{#            <td><a href="{{ path ('app_delete',{id:storys.id})}}" class="btn btn-danger">delete</a></td>#}
{#                        <a href="{{ path ('app-update',{id: employee.id})}}" class="btn btn-danger">update</a>#}

{#                    </td>#}
            <td> <a class="btn btn-dark" href="{{ path("app_addstory")}}">add</a> </td>
            <td> <a class="btn btn-dark" href="{{ path("app_updatestory",{id: member.id})}}">update</a> </td>
            </tbody>

        {% endfor %}

    </table>

    <a href="{{ path ('app_logout') }}">logout</a>
{#    {{ admin }}#}
{% endblock %}